
body{
    background-color: #F2ECD0; 
    color: #3C55AA;
    font-family: 'Syne', sans-serif;
    margin: 0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.showcase{
    background-color: #3C55AA;
    color: #F2ECD0; 
    font-family: 'Cormorant Garamond', serif;
    /* width:100%; */
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid;
}
.showcase h1{
    font-size: 15em;
    text-align: center;
    border: 0px;
    margin: 0px;
}

#navbar{
    display: flex;
    justify-content: center;
}

#navbar ul{
    padding:0;
    list-style: none;
    position: absolute;
    bottom:0;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #F2ECD0; 
	text-decoration: none;
    font-family:'Syne', sans-serif;
	font-size:30px;
	padding-right:15px;
}

#navbar a:hover{
    color:#79CB49;
}

a:hover{
    color:#79CB49;
}

.bio{
    margin: 60px;
    display: flex;
    align-items: stretch;
    justify-content: top;
}
.bio img{
    width:500px;
}
.bio h1{
    font-style: bold;
    font-size: 60px;
    font-family: 'Syne' sans-serif;
}

.bio p{
    margin: 0px 0px 0px 60px;
    font-size: 20pt;
}

footer{
    background-color: #3C55AA;
    color: #F2ECD0;
    height: 6vh;
}