
body{
    background-color: #F2ECD0; 
    color: #3C55AA;
    font-family: 'Syne', sans-serif;
    margin: 0;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.showcase{
    background-color: #3C55AA;
    color: #F2ECD0; 
    font-family: 'Cormorant Garamond', serif;
    /* width:100%; */
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    border: 0px solid;
}
.showcase h1{
    font-size: 15em;
    text-align: center;
}

#navbar{
    display: flex;
    justify-content: center;
}

#navbar ul{
    padding:0;
    list-style: none;
    position: absolute;
    bottom:0;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #F2ECD0; 
	text-decoration: none;
    font-family:'Syne', sans-serif;
	font-size:30px;
	padding-right:15px;
}

#navbar a:hover{
    color:#79CB49;
}

a:hover{
    color:#79CB49;
}

.bio{
    margin: 10px 60px 10px 60px;
    display: flex;
    justify-content: left;
}
.bio img{
    width: 432px;
    margin-right: 60px;
}