html{
    cursor:url('cursor.cur'), default;
}

a:hover{
    color: #79CB49;
}

body{
    background-color: #F2ECD0;
    color: #3C55AA; 
    font-family: 'Cormorant', 'Times New Roman', serif;
    font-size: 16px;
    line-height: 1.6em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 10%;
    margin-right:10%;
}

.container{
    width:80%;
    margin:auto;
    overflow:hidden;
}

.main-header{
    background-color:#3C55AA; 
    color:#F2ECD0;
    width: 60%;
    float:left;
    font-size: 40px;
    box-sizing: border-box;
    height:200px
}

#navbar{
    background-color:#3C55AA;
    color: #F2ECD0; 
    float:right;
    width: 40%;
    box-sizing:border-box;
    margin:0px;
    height: 200px;
    position:relative
}

#navbar ul{
    padding:0;
    list-style: none;
    position: absolute;
    bottom:0;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: #F2ECD0; 
	text-decoration: none;
	font-size:18px;
	padding-right:15px;
}

#navbar a:hover{
    color:#79CB49;
}

.post{
    margin-top:30px;
}
.post a{
    color: #3C55AA; 
	text-decoration: none;
	font-size:30px;
	padding-right:15px;
}

.post a:hover{
    color:#79CB49;
} 


.post-right a{
    color: #3C55AA; 
	text-decoration: none;
	font-size:30px;
	padding-right:15px;
}

.post-right a:hover{
    color:#79CB49;
} 

.post-right{
    margin-top:30px;
}

.Abe-center{
    background-image: url(abraham.jpeg);
    background-size: 400px;
    background-position: center center;
    background-repeat: no-repeat;
    width:400px;
    height:400px;
    float:right;
    padding:0px;
    border:10px solid;
    border-radius:5%;
    margin:30px 0px 30px 30px;
}


.Bio-center{
    background-image: url(Bioballoon.jpg);
    background-size: 606px;
    background-position: center center;
    background-repeat: no-repeat;
    width:400px;
    height:400px;
    float:left;
    padding:0px;
    border:10px solid;
    border-radius:5%;
    margin:30px 30px 30px 0px;
}